
@{
    ViewBag.Title = "addSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <meta http-equiv="refresh" content="5;url=/Home/addEmployee" />
}
<div class="center">
    <h1>AddSuccessful</h1>
</div>

