@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR software</h1>
    <p class="lead">
        HR software is a digital solution for managing and optimizing the daily human resources tasks and overall HR goals of an organization. HR software makes it possible 
        for HR staff and managers to better allocate their time and resources to more productive, profitable efforts.
    </p>
    <p><a href="~/Home/addEmployee" class="btn btn-primary btn-lg" >Try Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Employee</h2>
        <p>
            To add new <b>employee</b> into the database
        </p>
        <p><a class="btn btn-default" href="~/Home/addEmployee">Add now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Retrieve Employee Detail</h2>
        <p>To search for particular <b>employee</b> detail from the database</p>
        <p><a class="btn btn-default" href="~/Home/retrieveEmployee">Search now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FAQ</h2>
        <p>A collection of frequently asked <b>questions</b></p>
        <p><a class="btn btn-default" href="">Read Now &raquo;</a></p>
    </div>
</div>