<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hi! this is a sample page

    <br />

    This is a form submitting to /passPOSTDataSample
    <form method="POST" action="/passPOSTDataSample">        
        <input name="field1" type="text">
        <input name="field2" type="password">
        <input type="submit">
    </form>
</body>
</html>